[submodule "plugins/clockwork/hudclock"]
	path = plugins/clockwork/hudclock
	url = https://github.com/xRJx/hudclock
	ignore = dirty
[submodule "plugins/clockwork/thirdperson"]
	path = plugins/clockwork/thirdperson
	url = https://github.com/xRJx/thirdperson
	ignore = dirty
[submodule "plugins/hl2rp/vortigauntfactions"]
	path = plugins/hl2rp/vortigauntfactions
	url = https://github.com/xRJx/vortigauntfactions
	ignore = dirty
[submodule "plugins/hl2rp/uu-items"]
	path = plugins/hl2rp/uu-items
	url = https://github.com/xRJx/uu-items
	ignore = dirty
[submodule "plugins/hl2rp/unionlocks"]
	path = plugins/hl2rp/unionlocks
	url = https://github.com/xRJx/unionlock
	ignore = dirty
[submodule "plugins/hl2rp/unionlights"]
	path = plugins/hl2rp/unionlights
	url = https://github.com/xRJx/unionlight
	ignore = dirty
[submodule "plugins/hl2rp/overwatch"]
	path = plugins/hl2rp/overwatch
	url = https://github.com/xRJx/overwatch
	ignore = dirty
[submodule "plugins/hl2rp/newobjectives"]
	path = plugins/hl2rp/newobjectives
	ignore = dirty
	url = https://github.com/xRJx/newobjectives
[submodule "plugins/hl2rp/emplacementgun"]
	path = plugins/hl2rp/emplacementgun
	url = https://github.com/xRJx/emplacementgun
	ignore = dirty
[submodule "plugins/hl2rp/combinechatter"]
	path = plugins/hl2rp/combinechatter
	url = https://github.com/xRJx/combinechatter
	ignore = dirty
[submodule "plugins/schema/campfire"]
	path = plugins/schema/campfire
	url = https://github.com/xRJx/campfire
[submodule "plugins/schema/craftingmenu"]
	path = plugins/schema/craftingmenu
	url = https://github.com/xRJx/craftingmenu
[submodule "plugins/schema/hidebusiness"]
	path = plugins/schema/hidebusiness
	url = https://github.com/xRJx/hidebusiness
[submodule "plugins/schema/itemspawner"]
	path = plugins/schema/itemspawner
	url = https://github.com/xRJx/itemspawner
[submodule "plugins/schema/itemspawnerplus"]
	path = plugins/schema/itemspawnerplus
	url = https://github.com/xRJx/itemspawnerplus
[submodule "plugins/schema/junkmod"]
	path = plugins/schema/junkmod
	url = https://github.com/xRJx/junkmod
[submodule "plugins/schema/notepad"]
	path = plugins/schema/notepad
	url = https://github.com/xRJx/notepad
[submodule "plugins/schema/thermals"]
	path = plugins/schema/thermals
	url = https://github.com/xRJx/thermals
[submodule "plugins/schema/vortibeam"]
	path = plugins/schema/vortibeam
	url = https://github.com/xRJx/vortibeam
